.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*position: fixed;*/
  /*z-index: 2;*/
  /*left: 10px;*/
  /*min-height: 100vh;*/
}
.navbar a {
  display: block;
  text-decoration: none;
  background-color: black;
  color: white;
  opacity: 0.5;
  padding: 10px 30px;
  transition: 0.3s;
}
.navbar a:hover {
  opacity: 1;
}