@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
	@responsive {
		.cards {
			@apply flex flex-col;
		}
		.md-cards {
			@apply flex flex-row flex-wrap;
		}
		.card {
			@apply flex flex-col items-center overflow-hidden bg-white shadow-lg rounded-lg text-center p-1 my-1 mx-auto;
		}
		.card > * {
			@apply mx-auto leading-tight;
		}
		.card img {
			@apply rounded-full;
		}
		.card p {
			@apply text-blue-700;
		}
	  .smCard {
	    @apply text-left p-2 m-2;
	  }
	  .smCard h1 {
	  	@apply text-xl p-2 m-2;
	  }
	  .smCard p {
	  	@apply text-red-700;
	  }
	  .mdCard {
	    @apply flex-row p-3 m-3;
	  }
	  .mdCard h1 {
	  	@apply text-2xl p-3 m-3;
	  }
	  .mdCard p {
	  	@apply text-green-500;
	  }
	  .lgCard {
	    @apply p-4 m-4;
	  }
	  .lgCard h1 {
	  	@apply text-3xl p-4 m-4;
	  }
	  .lgCard p {
	  	@apply text-gray-700;
	  }

		.form {
			@apply flex flex-col items-center justify-center p-1 m-1;
		}
		.form input {
			@apply bg-gray-200 rounded-md m-1 p-1;
		}
		.form input:hover {
			@apply bg-white border-gray-300;
		}
		.form input:focus {
			@apply outline-none bg-white shadow-outline border-gray-300;
		}
		.sm-form {
			@apply flex-row flex-wrap p-2 m-2;
		}
		.sm-form input {
			@apply m-2 p-2;
		}
		.md-form {
			@apply p-3 m-3;
		}
		.md-form input {
			@apply m-3 p-3;
		}
		.lg-form {
			@apply p-4 m-4;
		}
		.lg-form input {
			@apply m-4 p-4;
		}
	}
}