@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
	@responsive {

		.heading {
			@apply text-xl m-1;
			@apply sm:text-2xl;
			@apply md:text-3xl md:m-2;
			@apply lg:text-4xl;
		}
		.subHeading {
			@apply text-base m-1;
			@apply sm:text-lg;
			@apply md:text-xl md:m-2;
			@apply lg:text-2xl;
		}
		.para {
			@apply text-xs m-1;
	  	@apply sm:text-sm;
	  	@apply md:text-base md:m-2;
	  	@apply lg:text-lg;
		}

		.cards {
			@apply flex flex-col mx-auto my-4;
			@apply sm:flex-row sm:flex-wrap;
		}
		.card {
			@apply flex flex-col items-center text-center bg-white overflow-hidden shadow-lg rounded-lg p-1 m-1;
			@apply sm:text-left sm:flex-row sm:p-2 sm:m-2;
			@apply md:p-3 md:m-3;
			@apply lg:p-4 lg:m-4;
		}
		.card > * {
			@apply mx-auto leading-tight;
		}
		.card img {
			@apply rounded-full;
		}
		.cardContent {
			@apply mx-auto my-2;
			@apply sm:mx-2 my-auto;
		}

		.form {
			@apply flex flex-col items-center justify-center p-1 m-1;
			@apply sm:flex-row sm:flex-wrap sm:p-2 sm:m-2;
			@apply md:p-3 md:m-3;
			@apply lg:p-4 lg:m-4;
		}
		.form input {
			@apply text-sm bg-gray-200 rounded-md m-1 p-1;
			@apply sm:p-2 sm:m-2;
			@apply md:p-3 md:m-3 text-base;
			@apply lg:p-4 lg:m-4;
		}
		.form input:hover {
			@apply bg-white border-gray-300;
		}
		.form input:focus {
			@apply bg-white outline-none border-gray-300;
		}

		.box {
			@apply flex flex-col place-content-center p-1 m-1;
			@apply sm:flex-row sm:p-2 sm:m-2;
			@apply md:p-3 md:m-3;
			@apply lg:p-4 lg:m-4;
		}
		.boxItem {
			@apply mx-auto my-2;
			@apply sm:mx-2 sm:my-auto;
		}
	}
}